[submodule "toolset"]
	path = toolset
	url = git@github.com:JhonnyJason/toolset
[submodule "output"]
	path = output
	url = git@github.com:JhonnyJason/assecura-website-output
[submodule "sources"]
	path = sources
	url = git@github.com:JhonnyJason/assecura-website-sources
